Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

revert previous
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update deps.mk
  dev/make/deps.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

docs: update `Installation` section in `README.md`
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

[bug, CI] fix error handling in windows builds (#2802)
  .ci/scripts/build.bat
  .ci/scripts/test.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove CI job
  .github/workflows/build_oneDAL.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/BUILD
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update includes
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/compute_types.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix memory leak in hashmap
  cpp/oneapi/dal/detail/hash_map.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

updates based off of review
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

revised workaround condition
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update deps.mk
  dev/make/deps.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update security md (#2798)
  SECURITY.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

try to replace with reference
  cpp/daal/include/algorithms/algorithm_base_common.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/oneapi/covariance_dense_online_oneapi_impl.i
  cpp/daal/src/algorithms/dbscan/oneapi/dbscan_dense_default_batch_ucapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/classification/oneapi/df_classification_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/oneapi/df_tree_level_build_helper_oneapi.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_predict_dense_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/forest/regression/oneapi/df_regression_train_hist_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/oneapi/bf_knn_classification_predict_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_dense_lloyd_kernel_base_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_init_dense_batch_kernel_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step1_ucapi_impl.i
  cpp/daal/src/algorithms/kmeans/oneapi/kmeans_lloyd_distr_step2_ucapi_impl.i
  cpp/daal/src/algorithms/pca/oneapi/pca_dense_correlation_batch_kernel_ucapi_impl.i
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/externals/service_dispatch.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
  docs/source/daal/services/managing-computational-environment.rst
  examples/daal/cpp/source/enable_thread_pinning/enable_thread_pinning.cpp
  examples/daal/cpp/source/set_number_of_threads/set_number_of_threads.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust, @Vika-F, @maria-Petrova, @aepanchi

[bug] fix dpc compilation for OS=win and COMPILER=vc (#2810)
  dev/make/deps.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/compute_types.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Added `csrmultd` and `csrmv` reference implementation (#2807)
  cpp/daal/src/externals/service_spblas_ref.h
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes with weak ptr
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update version to 2024.6.0 (#2770)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

update
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add sparse gpu support
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

include parallel plus
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/to_daal_method.hpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

update
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova
