Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

MAINT: monthly dockerfile updates
  .github/renovate.json
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Fix event dependencies
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

accomodate weirdness in the dataframe generation
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

float change
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Disable SYCL sparse primitives testing on the architectures that do not have native float64 (#2745)
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

checking cw
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

another try
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix event dependencies for PCA infer on GPU (#2750)
  cpp/oneapi/dal/algo/pca/backend/gpu/infer_kernel_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  .bazelrc
  BUILD
  cpp/oneapi/dal/BUILD
  dev/bazel/toolchains/cc_toolchain_config_lnx.bzl
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

vars sh adding draft
  dev/bazel/release.bzl
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

updates
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for env
  BUILD
  dev/bazel/release.bzl
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

unused variable
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

tests now pass, readd inf at 0
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

MAINT: monthly dockerfile updates (#2748)
  .github/renovate.json
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update doc/readme.md to define how to create cross references (#2729)
  docs/README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

formatting
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

feat(samples): add CMakeLists.txt for mpi/ccl samples (#2688)
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
  makefile
  samples/cmake/FindCCL.cmake
  samples/cmake/setup_samples.cmake
  samples/daal/cpp/mpi/CMakeLists.txt
  samples/oneapi/dpc/ccl/CMakeLists.txt
  samples/oneapi/dpc/mpi/CMakeLists.txt
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

fix for samples
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @maria-Petrova, @Alexsandruss, @Alexandr-Solovev

Refactor tests, minor fixes, update copyrights
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_perf_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_spmd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add comments
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @maria-Petrova, @Alexsandruss, @Alexandr-Solovev

minor fix
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Fix DPC++ tests failures and Coverity failures
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters_dpc.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add sparsity support for logloss function primitive (#2694)
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/BUILD
  cpp/oneapi/dal/backend/primitives/objective_function/logloss.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_perf_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_spmd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/handle_dpc.cpp
  cpp/oneapi/dal/test/engine/csr_table_builder.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add sparsity support for logistic regression algorithm
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/BUILD
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix a misprint in Quality Metrics for Multi-class docs (#2701)
  docs/source/daal/algorithms/quality_metrics/default/for-multi-class-classification.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

chore: add OpenSSF Scorecard GitHub Action
  .github/workflows/openssf-scorecard.yml
  README.md
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

fix: online distr PCA samples (#2754)
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @maria-Petrova, @Alexsandruss, @Alexandr-Solovev

Update copyrights, add new exception type, remove comments
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/model_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/optimizer_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/common.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/infer.hpp
  cpp/oneapi/dal/algo/logistic_regression/infer_types.cpp
  cpp/oneapi/dal/algo/logistic_regression/infer_types.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/train.hpp
  cpp/oneapi/dal/algo/logistic_regression/train_types.cpp
  cpp/oneapi/dal/algo/logistic_regression/train_types.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

init commit
  WORKSPACE
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/include/services/internal/sycl/math/mkl_dal_utils.h
  cpp/daal/include/services/internal/sycl/math/mkl_lapack.h
  cpp/daal/src/externals/config_mkl.h
  cpp/daal/src/externals/service_blas_mkl.h
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_math_mkl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_service_mkl.h
  cpp/daal/src/externals/service_spblas_mkl.h
  cpp/daal/src/externals/service_stat_mkl.h
  cpp/daal/src/externals/service_stat_rng_mkl.h
  cpp/daal/src/externals/service_thread_declar_mkl.cpp
  cpp/daal/src/externals/service_thread_declar_mkl.h
  cpp/daal/src/services/library_version_info.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_svd_impl_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/blas/syrk.hpp
  cpp/oneapi/dal/backend/primitives/blas/syrk_dpc.cpp
  cpp/oneapi/dal/backend/primitives/lapack/gesvd.hpp
  cpp/oneapi/dal/backend/primitives/lapack/gesvd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/lapack/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/misc.hpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
  dev/bazel/deps/micromkl.bzl
  dev/bazel/deps/micromkl.tpl.BUILD
  dev/bazel/deps/micromkldpc.tpl.BUILD
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/flags.bzl
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

FIX: distributed knn double sqrt bug (#2733)
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Adjust modulefile
  deploy/local/dal
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

chore: add OpenSSF Scorecard GitHub Action (#2753)
  .github/workflows/openssf-scorecard.yml
  README.md
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

fixes
  cpp/daal/BUILD
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/src/externals/service_blas_mkl.h
  cpp/daal/src/externals/service_math_mkl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_service_mkl.h
  cpp/oneapi/dal/backend/primitives/blas/misc.hpp
  dev/bazel/deps/micromkl.bzl
  dev/bazel/deps/micromkldpc.tpl.BUILD
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/onedal.bzl
  dev/bazel/deps/onedal.tpl.BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

added support for rigde regression penalty in linear regression on batch gpu implementation
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update docs
  docs/source/onedal/algorithms/logistic-regression/index.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

CI fixes in OpenBLAS builds
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  WORKSPACE
  cpp/daal/BUILD
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/src/externals/service_service_mkl.h
  cpp/oneapi/dal/BUILD
  dev/bazel/deps/micromkl.bzl
  dev/bazel/deps/micromkl.tpl.BUILD
  dev/bazel/deps/micromkldpc.tpl.BUILD
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/onedal.tpl.BUILD
  dev/bazel/repos.bzl
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
