Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

Completely remove unnecessary TBB layer flag
  cpp/daal/BUILD
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

more prints
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

switched linreg batch cpu switch to use daal batch instead of online mode, minor optimizations and code refactoring
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

docs: update `README.md` with UXL identity (#2784)
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

slack notification when PR is labelled RFC (#2778)
  .github/workflows/slack-pr-notification.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Add system related parameters to performance related algorithms' parameters (#2724)
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/covariance/BUILD
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/decision_forest/BUILD
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/BUILD
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/cpu.cpp
  cpp/oneapi/dal/detail/cpu.hpp
  cpp/oneapi/dal/detail/cpu_info.cpp
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/parameters/BUILD
  cpp/oneapi/dal/detail/parameters/system_parameters.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters.hpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.hpp
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Bugfix in daal::data_management::features::internal::getIndexNumType<unsigned long> function (#2776)
  cpp/daal/include/data_management/features/internal/helpers.h
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

init fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

naming fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

prints
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/daal/include/services/env_detect.h
  cpp/daal/include/services/env_detect.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add arena init
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

test rfc, do not merge
  rfcs/20240515-test-rfc/README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

added dependency description of xtx on compute_intercept
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for set number of threads
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixed dll for daal lin reg batch kernel
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_batch_fpt_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

tbb fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for env construct
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for init
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add init in each function
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for destructor
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

align with master + minor fixes
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

latest commits
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for non x86 platforms
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

updated copyright message for misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Improve SYCL kernels in CSR table
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix minor
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  docs/source/daal/services/managing-computational-environment.rst
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @Vika-F, @maria-Petrova, @aepanchi

Enable sparse primitives testing on GPU
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
