Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

CI fixes in OpenBLAS builds (#2762)
  .ci/env/apt.sh
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

CI: Valgrind
  .ci/env/valgrind_setup.sh
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

check if valgrind present
  .ci/env/valgrind_setup.sh
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

install valgrind
  .ci/env/valgrind_setup.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Remove redundant copyright changes
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/model_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/optimizer_impl.hpp
  cpp/oneapi/dal/algo/logistic_regression/common.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/optimizer.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/infer.hpp
  cpp/oneapi/dal/algo/logistic_regression/infer_types.cpp
  cpp/oneapi/dal/algo/logistic_regression/infer_types.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters.hpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/train.hpp
  cpp/oneapi/dal/algo/logistic_regression/train_types.cpp
  cpp/oneapi/dal/algo/logistic_regression/train_types.hpp
  docs/source/onedal/algorithms/logistic-regression/index.rst
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @Vika-F, @maria-Petrova, @aepanchi

Minor
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor revisions based on comments
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang formatting
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Minor
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes for make build
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/daal/src/algorithms/kmeans/kmeans_lloyd_impl.i
  cpp/daal/src/algorithms/kmeans/kmeans_lloyd_postprocessing.h
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_predict_fast_impl.i
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_lapack_ref.h
  cpp/daal/src/externals/service_math_mkl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_service_mkl.h
  cpp/daal/src/externals/service_spblas.h
  cpp/daal/src/externals/service_spblas_mkl.h
  cpp/daal/src/externals/service_stat_mkl.h
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/onedal.tpl.BUILD
  dev/bazel/flags.bzl
  dev/make/deps.mkl.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

fix for building
  cpp/daal/BUILD
  dev/bazel/deps/mkl.bzl
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/onedal.tpl.BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

formatting change
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update version to 2024.5.0 (#2730)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

change ordering
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

chagnes for 2025 rls
  cpp/daal/BUILD
  cpp/daal/src/externals/service_service_mkl.h
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_helpers.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/primitives/optimizers/common_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
  dev/bazel/deps/mkl.tpl.BUILD
  dev/bazel/deps/onedal.tpl.BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

[enh] add functors for infinite and NaN checking in DAL (#2670)
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_atomic_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_blocking_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_wrapper_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_blocking_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_narrow_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_wide_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_wrapper_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for host+backward compatibility the latest compiler
  cpp/daal/src/externals/service_service_mkl.h
  cpp/oneapi/dal/algo/pca/test/badarg.cpp
  cpp/oneapi/dal/algo/pca/test/overflow.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Minor
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/pca/test/badarg.cpp
  cpp/oneapi/dal/algo/pca/test/overflow.cpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/optimizers/common_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix coverity 'invalid iterator' failure
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/BUILD
  cpp/daal/src/externals/service_thread_declar_mkl.cpp
  cpp/daal/src/externals/service_thread_declar_mkl.h
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd_dpc.cpp
  dev/bazel/flags.bzl
  dev/bazel/repos.bzl
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

Add system_parameters related symbols into onedal_parameters libs
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/covariance/BUILD
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/algo/decision_forest/BUILD
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/BUILD
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/parameters/BUILD
  cpp/oneapi/dal/detail/parameters/system_parameters.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters.hpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix coverity 'invalid iterator' failure (#2766)
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix coverity 'invalid iterator' failure (#2766)
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix bazel build
  cpp/oneapi/dal/algo/covariance/BUILD
  cpp/oneapi/dal/algo/decision_forest/BUILD
  cpp/oneapi/dal/algo/linear_regression/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

attempt at fixing bazel test issues
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update openssf-scorecard.yml
  .github/workflows/openssf-scorecard.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fixed gpu implementation, added switch to daal ridge on cpu
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/BUILD
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update version to 2024.6.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

Add sparsity support for LogisticRegression algorithm (#2755)
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/infer_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/cpu/train_kernel_dense_batch.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/BUILD
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common.hpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_common_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/train_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/common.hpp
  cpp/oneapi/dal/algo/logistic_regression/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/detail/train_ops_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/cpu/train_parameters.cpp
  cpp/oneapi/dal/algo/logistic_regression/parameters/gpu/train_parameters_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/test/spmd_fixture.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
  docs/source/onedal/algorithms/logistic-regression/index.rst
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @Vika-F, @maria-Petrova, @aepanchi

added gpu/cpu implementations of ridge regression for online mode
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/partial_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/partial_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

attempt at fixing bazel test issues (#2769)
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/BUILD
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/externals/service_lapack_declar_ref.h
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_lapack_ref.h
  cpp/daal/src/externals/service_math_mkl.h
  cpp/daal/src/externals/service_rng_mkl.h
  cpp/daal/src/externals/service_spblas_mkl.h
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  dev/make/deps.mkl.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

temporary - trying MPI suggestion for mpich perf
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor follow-up fixes
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/spmd/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

trying to contain to mpi comm
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Switch to multi-threading branches in part of svd impl.
  cpp/daal/src/algorithms/svd/svd_dense_default_batch_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
