Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
  cpp/oneapi/dal/backend/interop/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

conflict resolving
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

x->data
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

code quality improvement
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-formatting
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update Build Applications Page (#2797)
  docs/source/data-analytics-pipeline.rst
  docs/source/onedal/build_app/build-application.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix: reimplement custom daal calls for VC (#2803)
  cpp/oneapi/dal/algo/basic_statistics/backend/cpu/compute_kernel.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/cpu/finalize_train_kernel_norm_eq.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_svd.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update test.bat
  .ci/scripts/test.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update build.bat
  .ci/scripts/build.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

add function for workaround
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

another debug...
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  examples/daal/cpp/source/svm/svm_two_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for svm examples
  cpp/daal/src/threading/service_thread_pinner.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_two_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_two_class_thunder_dense_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Added csrmultd and csrmv ref implementation
  cpp/daal/src/externals/service_spblas_ref.h
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/threading/threading.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang format fix
  cpp/daal/src/externals/service_spblas_ref.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update SECURITY.md
  SECURITY.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

alternative workaround
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove debug
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Initial commit to replace internally developed sparse GEMM with MKL sparse gemm
  cpp/oneapi/dal/algo/kmeans/BUILD
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  examples/daal/cpp/source/svm/svm_multi_class_boser_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_boser_dense_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_model_builder.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_csr_batch.cpp
  examples/daal/cpp/source/svm/svm_multi_class_thunder_dense_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
  docs/source/daal/services/managing-computational-environment.rst
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @Vika-F, @maria-Petrova, @aepanchi

create function to identify mpi backend
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update deps.mk
  dev/make/deps.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Create build_oneDAL.yml
  .github/workflows/build_oneDAL.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update build_oneDAL.yml
  .github/workflows/build_oneDAL.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
