Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

trying with optional queue arg
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

trying buf instead
  cpp/oneapi/dal/backend/communicator.cpp
  cpp/oneapi/dal/detail/ccl/communicator.hpp
  cpp/oneapi/dal/detail/communicator.cpp
  cpp/oneapi/dal/detail/mpi/communicator.hpp
  cpp/oneapi/dal/spmd/communicator.hpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

debug build
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

forgot semi colons
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update openssf-scorecard.yml (#2773)
  .github/workflows/openssf-scorecard.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

added dll linking for BatchKernel on ridge regression from daal
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_train_dense_normeq_batch_fpt_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

dll linking for online kernel
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_train_dense_normeq_online_fpt_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove debugging
  cpp/oneapi/dal/detail/mpi/communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

cache additional buffer
  cpp/oneapi/dal/detail/communicator.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix syevd deps
  cpp/daal/BUILD
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_lapack_ref.h
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/micromkl/micromkl.cpp
  cpp/oneapi/dal/backend/micromkl/micromkl.hpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.cpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd.hpp
  cpp/oneapi/dal/backend/primitives/lapack/syevd_dpc.cpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  dev/make/deps.mkl.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

Adjust modulefile (#2768)
  deploy/local/dal
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fixes for syevd and undef references
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_precomputed_impl_dpc.cpp
  cpp/oneapi/dal/backend/micromkl/BUILD
  cpp/oneapi/dal/backend/micromkl/macro.hpp
  cpp/oneapi/dal/backend/micromkl/micromkl.cpp
  cpp/oneapi/dal/backend/micromkl/micromkl.hpp
  cpp/oneapi/dal/backend/primitives/lapack.hpp
  cpp/oneapi/dal/backend/primitives/lapack/BUILD
  cpp/oneapi/dal/backend/primitives/lapack/eigen.cpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen.hpp
  cpp/oneapi/dal/backend/primitives/lapack/eigen_cpu.cpp
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix parameters library build in makefile
  makefile
Owners: @Alexsandruss

adding syevd
  cpp/daal/include/services/internal/sycl/math/mkl_blas.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/externals/service_lapack_declar_ref.h
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_csr_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_helpers.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/lapack/test/eigen.cpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Bugfix in daal::data_management::features::internal::getIndexNumType<unsigned long> function
  cpp/daal/include/data_management/features/internal/helpers.h
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

modified tests to support ridge regression in both batch and online modes
  cpp/oneapi/dal/algo/linear_regression/test/batch.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
  cpp/oneapi/dal/algo/linear_regression/test/spmd.cpp
  cpp/oneapi/dal/algo/linear_regression/test/train_parameters.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/externals/service_service_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  deploy/local/vars_lnx.sh
  deploy/local/vars_win.bat
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

refactored code per suggestions and adjusted tests to reduce floating point inaccuracies
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

generalized adding ridge penalty for both batch and online modes
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/finalize_train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/train_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix coverity 'invalid iterator' failure (#2766) (#2767)
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

slack notification when PR is labelled RFC
  .github/workflows/slack-pr.yaml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

attempt at fixing bazel test issues (#2769)
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

chore(workflows): add slack notification for RFCs
  .github/workflows/slack-pr-notification.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fixed alpha float type for gpus not supporting fp64
  cpp/oneapi/dal/algo/linear_regression/test/fixture.hpp
  cpp/oneapi/dal/algo/linear_regression/test/online.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

adjusted alpha floating type from double to supported float for gpus not supporting fp64
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/misc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

inital commit
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

follow on updates
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

improvements
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove variable
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update copyrights
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.cpp
  cpp/oneapi/dal/algo/finiteness_checker/common.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops.hpp
  cpp/oneapi/dal/algo/finiteness_checker/detail/compute_ops_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

init prints
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

chore(workflows): add slack notification for RFCs
  .github/workflows/slack-pr-notification.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

new prints
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix usage of sequential execution branches
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_impl.i
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format-14 specific formatting fix
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minro fix
  cpp/daal/include/services/env_detect.h
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
  cpp/oneapi/dal/array.hpp
  cpp/oneapi/dal/backend/primitives/ndarray.hpp
  cpp/oneapi/dal/detail/array_impl.hpp
  cpp/oneapi/dal/detail/memory_impl_dpc.hpp
  examples/oneapi/dpc/source/covariance/cov_dense_biased_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

docs: update `README.md` with UXL identity
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

Update data-analytics-pipeline.rst
  docs/source/data-analytics-pipeline.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
