Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

update
  cpp/oneapi/dal/algo/kmeans_init/backend/cpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_plus_plus_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

update
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

test transfer to device
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

Update compute_types.cpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update compute_types.hpp
  cpp/oneapi/dal/algo/finiteness_checker/compute_types.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

removal of non oneapi/ files referencing oneapi/
  cpp/daal/src/algorithms/covariance/covariance_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/covariance/covariance_dense_default_distr_step2_oneapi_fpt.cpp
  cpp/daal/src/algorithms/covariance/covariance_dense_default_online_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_hist_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_hist_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_train_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/cl_kernels/gbt_batch_regression_kernels.cl
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_dense_default_oneapi_impl.i
  cpp/daal/src/algorithms/dtrees/gbt/regression/oneapi/gbt_regression_train_kernel_oneapi.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_linear_csr_fast_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/kernel_function/kernel_function_linear_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_csr_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_finalize_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_update_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_helper_oneapi_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_dense_normeq_online_oneapi_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_predict_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_train_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_distr_step2_oneapi_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_dense_default_online_oneapi_fpt.cpp
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/cross_entropy_loss_dense_default_kernel_oneapi_fpt.cpp
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_kernel_oneapi_fpt.cpp
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_dense_minibatch_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/pca/transform/pca_transform_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/svm/svm_predict_dense_default_batch_oneapi_fpt.cpp
  cpp/daal/src/algorithms/svm/svm_train_thunder_batch_oneapi_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

remove oneapi::internal references
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/algorithms/pca/transform/pca_transform_container.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

alternative include for onedal knn
  cpp/oneapi/dal/algo/knn/backend/model_conversion.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

small knn fixes
  cpp/daal/src/algorithms/k_nearest_neighbors/BUILD
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_model_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

restore include sycl table header
  cpp/daal/src/algorithms/kmeans/kmeans_init_result.h
  cpp/daal/src/algorithms/linear_model/linear_model_model_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_batch_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_ne_model_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_training_result_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/moments_online.h
  cpp/daal/src/algorithms/objective_function/objective_function_types_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_partialresult_correlation.h
  cpp/daal/src/algorithms/pca/transform/pca_transform_batch_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix kmeans infer
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

clang format
  cpp/oneapi/dal/algo/kmeans_init/backend/to_daal_method.hpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

Update compute_kernel.hpp
  cpp/oneapi/dal/algo/finiteness_checker/backend/gpu/compute_kernel.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

opencl cleanup
  .ci/env/apt.sh
  WORKSPACE
  cmake/templates/oneDALConfig.cmake.in
  cpp/daal/include/services/internal/sycl/execution_context_sycl.h
  cpp/daal/src/algorithms/classifier/BUILD
  cpp/daal/src/algorithms/covariance/BUILD
  cpp/daal/src/algorithms/dbscan/BUILD
  cpp/daal/src/algorithms/dtrees/forest/BUILD
  cpp/daal/src/algorithms/dtrees/forest/classification/BUILD
  cpp/daal/src/algorithms/dtrees/forest/regression/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/classification/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
  cpp/daal/src/algorithms/kernel_function/BUILD
  cpp/daal/src/algorithms/kmeans/BUILD
  cpp/daal/src/algorithms/linear_model/BUILD
  cpp/daal/src/algorithms/linear_regression/BUILD
  cpp/daal/src/algorithms/logistic_regression/BUILD
  cpp/daal/src/algorithms/low_order_moments/BUILD
  cpp/daal/src/algorithms/objective_function/BUILD
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/BUILD
  cpp/daal/src/algorithms/objective_function/logistic_loss/BUILD
  cpp/daal/src/algorithms/optimization_solver/sgd/BUILD
  cpp/daal/src/algorithms/pca/BUILD
  cpp/daal/src/algorithms/pca/transform/BUILD
  cpp/daal/src/algorithms/svm/BUILD
  dev/bazel/daal.bzl
  dev/bazel/dal.bzl
  dev/bazel/deps/opencl.bzl
  dev/bazel/deps/opencl.tpl.BUILD
  dev/make/function_definitions/lnx32e.mk
  dev/make/function_definitions/lnxarm.mk
  dev/make/function_definitions/lnxriscv64.mk
  docs/source/get-started/prerequisites.rst
  docs/source/onedal/build_app/build-application.rst
  makefile
  samples/oneapi/dpc/ccl/makefile_lnx
  samples/oneapi/dpc/mpi/makefile_lnx
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @avolkov-intel, @icfaust, @Vika-F, @maria-Petrova, @aepanchi

remove cl kernels
  cpp/daal/BUILD
  cpp/daal/src/sycl/cl_kernels/kernel_blas.cl
  cpp/daal/src/sycl/cl_kernels/kernel_sparse_blas.cl
  cpp/daal/src/sycl/cl_kernels/math.cl
  cpp/daal/src/sycl/cl_kernels/op_reducer.cl
  cpp/daal/src/sycl/cl_kernels/partition.cl
  cpp/daal/src/sycl/cl_kernels/radix_sort.cl
  cpp/daal/src/sycl/cl_kernels/select_indexed.cl
  cpp/daal/src/sycl/cl_kernels/sum_reducer.cl
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

refactor
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

doc will be updated later
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

copyright
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

sycl table removal
  cpp/daal/include/daal_sycl.h
  cpp/daal/include/data_management/data/internal/numeric_table_sycl.h
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_csr.h
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_homogen.h
  cpp/daal/include/data_management/data/internal/numeric_table_sycl_soa.h
  cpp/daal/src/algorithms/classifier/classifier_predict_fpt.cpp
  cpp/daal/src/algorithms/covariance/covariance_container.h
  cpp/daal/src/algorithms/covariance/covariance_partialresult.h
  cpp/daal/src/algorithms/covariance/covariance_result.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_result.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_fpt.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_result.h
  cpp/daal/src/algorithms/kmeans/kmeans_result.h
  cpp/daal/src/algorithms/linear_model/linear_model_model_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_batch_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_ne_model_fpt.cpp
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_training_result_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/moments_batch.h
  cpp/daal/src/algorithms/low_order_moments/moments_online.h
  cpp/daal/src/algorithms/objective_function/objective_function_types_fpt.cpp
  cpp/daal/src/algorithms/optimization_solver/iterative_solver_types_fpt.cpp
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_types_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_partialresult_correlation.h
  cpp/daal/src/algorithms/pca/pca_result_impl_fpt.cpp
  cpp/daal/src/algorithms/pca/transform/pca_transform_batch_fpt.cpp
  cpp/daal/src/algorithms/svm/svm_model_fpt.cpp
  cpp/daal/src/data_management/daal_factory_impl.cpp
  cpp/daal/src/data_management/numeric_table.cpp
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

test
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove deviceInfo checks
  cpp/daal/src/algorithms/dbscan/dbscan_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_container.h
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_train_container.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_train_container.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_linear_batch_container.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_rbf_batch_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_container.h
  cpp/daal/src/algorithms/linear_model/linear_model_predict_container.h
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_container.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_predict_container.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_train_container.h
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/cross_entropy_loss_dense_default_batch_container.h
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_batch_container.h
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_batch_container.h
  cpp/daal/src/algorithms/pca/pca_dense_correlation_batch_container.h
  cpp/daal/src/algorithms/pca/pca_dense_correlation_online_container.h
  cpp/daal/src/algorithms/pca/transform/pca_transform_container.h
  cpp/daal/src/algorithms/svm/svm_predict_batch_container.h
  cpp/daal/src/algorithms/svm/svm_train_batch_container.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

revert test
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remova cpp/daal/src/sycl/*
  cpp/daal/src/sycl/blas_gpu.cpp
  cpp/daal/src/sycl/blas_gpu.h
  cpp/daal/src/sycl/gpu_support_checker.cpp
  cpp/daal/src/sycl/lapack_gpu.cpp
  cpp/daal/src/sycl/lapack_gpu.h
  cpp/daal/src/sycl/math_service_types.h
  cpp/daal/src/sycl/partition.cpp
  cpp/daal/src/sycl/partition.h
  cpp/daal/src/sycl/reducer.cpp
  cpp/daal/src/sycl/reducer.h
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/daal/src/sycl/select_indexed.h
  cpp/daal/src/sycl/sorter.cpp
  cpp/daal/src/sycl/sorter.h
  cpp/daal/src/sycl/spblas_gpu.cpp
  cpp/daal/src/sycl/spblas_gpu.h
  cpp/daal/src/sycl/sum_reducer.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

knn fixed
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_model_impl.cpp
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_model_impl.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_batch.cpp
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_kernel_impl.i
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_train_container.h
  cpp/oneapi/dal/algo/knn/backend/model_conversion.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

removal of all execution context guard
  cpp/oneapi/dal/algo/basic_statistics/backend/basic_statistics_interop.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/detail/train_init_centroids.hpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_distr_random_dense_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_brute_force_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_kd_tree_dpc.cpp
  cpp/oneapi/dal/algo/knn/backend/gpu/train_kernel_kd_tree_dpc.cpp
  cpp/oneapi/dal/algo/linear_regression/backend/gpu/infer_kernel_norm_eq_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_dense_batch_dpc.cpp
  cpp/oneapi/dal/algo/logistic_regression/backend/gpu/infer_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

delete sycl table adapter
  cpp/oneapi/dal/table/backend/interop/sycl_table_adapter.hpp
  cpp/oneapi/dal/table/backend/interop/sycl_table_adapter_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

oops
  cpp/oneapi/dal/algo/knn/backend/gpu/train_kernel_kd_tree_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

swap include
  cpp/oneapi/dal/backend/interop/table_conversion.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

DAAL_SYCL_INTERFACE removal initial
  cpp/daal/include/services/daal_defines.h
  cpp/daal/include/services/internal/execution_context.h
  dev/bazel/dal.bzl
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

clang
  cpp/daal/src/algorithms/dbscan/dbscan_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_train_container.h
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/dtrees/forest/regression/df_regression_train_container.h
  cpp/daal/src/algorithms/dtrees/gbt/regression/gbt_regression_train_container.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_model_impl.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_dense_default_batch_container.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_predict_result.h
  cpp/daal/src/algorithms/k_nearest_neighbors/bf_knn_classification_train_container.h
  cpp/daal/src/algorithms/kernel_function/kernel_function_linear_batch_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_container.h
  cpp/daal/src/algorithms/kmeans/kmeans_init_result.h
  cpp/daal/src/algorithms/linear_regression/linear_regression_train_container.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_predict_container.h
  cpp/daal/src/algorithms/logistic_regression/logistic_regression_train_container.h
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/cross_entropy_loss_dense_default_batch_container.h
  cpp/daal/src/algorithms/objective_function/logistic_loss/logistic_loss_dense_default_batch_container.h
  cpp/daal/src/algorithms/optimization_solver/sgd/sgd_batch_container.h
  cpp/daal/src/algorithms/pca/pca_dense_correlation_batch_container.h
  cpp/daal/src/algorithms/pca/pca_dense_correlation_online_container.h
  cpp/daal/src/algorithms/pca/pca_partialresult_correlation.h
  cpp/daal/src/algorithms/pca/transform/pca_transform_container.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

remove daal gpu support checker
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/algorithm_container_base_common.h
  cpp/daal/include/services/internal/daal_kernel_defines.h
  cpp/daal/include/services/internal/gpu_support_checker.h
  cpp/daal/src/algorithms/kernel.h
  cpp/daal/src/algorithms/kernel_config.h
  cpp/daal/src/algorithms/kernel_inst_arm.h
  cpp/daal/src/algorithms/kernel_inst_riscv64.h
  cpp/daal/src/algorithms/kernel_inst_x86.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

swap include
  cpp/daal/src/algorithms/kernel.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

re-add bazel build knn daal deps
  cpp/daal/src/algorithms/k_nearest_neighbors/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang
  cpp/daal/include/services/internal/daal_kernel_defines.h
  cpp/daal/src/algorithms/kernel_inst_arm.h
  cpp/daal/src/algorithms/kernel_inst_riscv64.h
  cpp/daal/src/algorithms/kernel_inst_x86.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix dpc vectorization error when running with new compiler
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/oneapi/dal/table/backend/csr_kernels.cpp
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update version to 2024.7.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

Fix nd_range size
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix: fix tbb initialize (#2791)
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
