Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

add comments
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

feat(samples): add CMakeLists.txt for mpi/ccl samples
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
  makefile
  samples/cmake/FindCCL.cmake
  samples/cmake/setup_samples.cmake
  samples/daal/cpp/mpi/CMakeLists.txt
  samples/oneapi/dpc/ccl/CMakeLists.txt
  samples/oneapi/dpc/mpi/CMakeLists.txt
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

adding online distributed for pcacov
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online_spmd.cpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
  cpp/oneapi/dal/test/engine/spmd.hpp
  samples/oneapi/dpc/ccl/onedal_lnx.lst
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/onedal_lnx.lst
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

minor fix
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add Arm LLVM cross-compilation CI pipeline
  .ci/env/apt.sh
  .ci/env/arm-clang-crosscompile-toolchain.cmake
  .ci/env/openblas.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  dev/make/compiler_definitions/clang.ref.arm.mk
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-formatting and making consistent
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix error in tests
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Run shellcheck
  .ci/env/apt.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Fix build error in oneAPI examples
  cpp/oneapi/dal/detail/cpu.cpp
  cpp/oneapi/dal/detail/cpu.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update dev/make/compiler_definitions/icx.mkl.32e.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix for export
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

removed placeholder print on type switch default
  examples/oneapi/cpp/source/misc/read_batch.cpp
  examples/oneapi/dpc/source/misc/read_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

Minor refactoring
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/logloss_functors_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/logloss_dpc.cpp
  cpp/oneapi/dal/backend/primitives/objective_function/test/spmd_fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/data_management/data/data_serialize.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Review comments
  .ci/env/arm-clang-crosscompile-toolchain.cmake
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes for bazel testing
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

temporary revert
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix for compiler
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Fix optimizers test
  cpp/oneapi/dal/backend/primitives/optimizers/test/newton_cg_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Upload different artifacts per compiler
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Feature: Data type support in read function (#2731)
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.cpp
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel_dpc.cpp
  cpp/oneapi/dal/io/csv/common.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops.cpp
  cpp/oneapi/dal/io/csv/detail/read_ops.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops_dpc.cpp
  examples/oneapi/cpp/BUILD
  examples/oneapi/cpp/source/misc/read_batch.cpp
  examples/oneapi/dpc/BUILD
  examples/oneapi/dpc/source/misc/read_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

fix for win
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/data_management/data/data_serialize.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

debugging
  cpp/oneapi/dal/backend/primitives/search/test/chebyshev_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/cosine_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/l2_search_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes for serialization tag
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Revert "Update dependency catch2 to v3.5.4 (#2703)"
  WORKSPACE
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix for serialization
  cpp/daal/include/algorithms/algorithm_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixing issues in bazel testing
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  .ci/pipeline/ci.yml
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/model.h
  cpp/daal/include/data_management/data/data_dictionary.h
  cpp/daal/include/data_management/data_source/data_source_dictionary.h
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

switch to this
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

spelling error
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for pca partial
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add Arm LLVM cross-compilation CI pipeline (#2736)
  .ci/env/apt.sh
  .ci/env/arm-clang-crosscompile-toolchain.cmake
  .ci/env/openblas.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  dev/make/compiler_definitions/clang.ref.arm.mk
  examples/daal/cpp/target_excludes.cmake
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/online_spmd.cpp
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

Run clang-format
  cpp/daal/include/services/env_detect.h
  cpp/daal/include/services/internal/riscv64/riscv64_kernel_defines.h
  cpp/daal/src/algorithms/kernel_inst_riscv64.h
  cpp/daal/src/externals/service_dispatch.h
  cpp/daal/src/services/compiler/generic/env_detect_features.cpp
  cpp/daal/src/services/service_topo.h
  cpp/oneapi/dal/backend/dispatcher_cpu.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Restart system binfmt service
  .ci/env/apt.sh
  .ci/env/qemu-riscv64
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Explicitly specify at least 128-bit vector length
  dev/make/compiler_definitions/clang.ref.riscv64.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Need to fix x86
  cpp/daal/include/services/internal/daal_kernel_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
