Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

minor fixes
  cpp/daal/src/algorithms/normalization/minmax/minmax_parameter.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add a test for system-related parameters
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/detail/cpu.cpp
  cpp/oneapi/dal/detail/cpu.hpp
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_dpc.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/normalization/zscore.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/normalization/zscore.h
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

svd fixes
  cpp/daal/include/algorithms/normalization/zscore_types.h
  cpp/daal/src/algorithms/pca/pca_batchparameter_svd_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/algorithms/pca/pca_batchparameter_svd_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for distributed computation
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for clang
  cpp/daal/src/algorithms/pca/pca_batchparameter_svd_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang fix
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix distributed kmeans and dbscan
  cpp/daal/include/algorithms/dbscan/dbscan_distributed.h
  cpp/daal/include/algorithms/kmeans/kmeans_distributed.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for kmeans
  cpp/daal/include/algorithms/kmeans/kmeans_distributed.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/dbscan/dbscan_distributed.h
  cpp/daal/include/algorithms/kmeans/kmeans_distributed.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/kmeans/kmeans_init_distributed.h
  cpp/daal/include/algorithms/svd/svd_distributed.h
  cpp/daal/src/algorithms/svd/svd_dense_default_batch.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for svd
  cpp/daal/include/algorithms/svd/svd_types.h
  cpp/daal/src/algorithms/svd/svd_dense_default_batch.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Newline at end of file
  .ci/env/tbb.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

1. Fix system_parameters::get_top_enabled_cpu_extension. 2. Derive all perf-related parameters classes from system_parameters. 3. Add tests for system_parameters
  cpp/oneapi/dal/algo/covariance/test/compute_parameters.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for svd
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes for transform and pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format; Add missing includes
  cpp/oneapi/dal/algo/covariance/compute_types.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/linear_regression/train_types.hpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add copyright notices to new files
  examples/daal/cpp/target_excludes.cmake
  examples/oneapi/cpp/target_excludes.cmake
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes pca(prev commit build fine)
  cpp/daal/include/algorithms/engines/engine_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update doc/readme.md to define how to create cross references
  docs/README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

update version to 2024.5.0
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

minor fixes
  cpp/daal/include/algorithms/engines/engine_types.h
  cpp/daal/include/algorithms/normalization/zscore_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

added support for data type declaration in read function
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.cpp
  cpp/oneapi/dal/io/csv/backend/cpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel.hpp
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel_dpc.cpp
  cpp/oneapi/dal/io/csv/common.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops.cpp
  cpp/oneapi/dal/io/csv/detail/read_ops.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops_dpc.cpp
  examples/oneapi/dpc/source/dbscan/dbscan_brute_force_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

minor fixes for pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Run Arm GNU cross-compiled tests in CI (#2719)
  .ci/env/apt.sh
  .ci/env/arm-gnu-crosscompile-toolchain.cmake
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/cpp/target_excludes.cmake
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Use correct path to toolchain file
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update the TBBROOT to use the cached directory
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Cache OpenBLAS and oneTBB builds as part of CI
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fixes for pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

FIX: sycl barrier() deprecation alternative (#2707)
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/selection/row_partitioning_kernel.hpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix for icl
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Implement DPC++ sparse gemm and gemv primitives (#2668)
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/BUILD
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix include name in cpu.hpp
  cpp/oneapi/dal/detail/cpu.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

removing dependancy on LD_LIBRARY_PATH when tbb built is built from source
  makefile
Owners: @Alexsandruss

fixed gpu support + added examples for new read function/edited bazel builds
  cpp/oneapi/dal/io/csv/backend/gpu/read_kernel_dpc.cpp
  cpp/oneapi/dal/io/csv/common.hpp
  cpp/oneapi/dal/io/csv/detail/read_ops_dpc.cpp
  examples/oneapi/cpp/BUILD
  examples/oneapi/cpp/source/misc/read_batch.cpp
  examples/oneapi/dpc/BUILD
  examples/oneapi/dpc/source/misc/read_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

move simd specifics to impl.i files
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format and compilability
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
