Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

Fix dimensionality error
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

docs: update `Installation` section in `README.md` (#2788)
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

broader include swap
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/service_rng_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

forgot threadcomm
  cpp/oneapi/dal/test/engine/thread_communicator.cpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove bazel circular depenendency
  cpp/daal/BUILD
  cpp/daal/src/algorithms/classifier/BUILD
  cpp/daal/src/algorithms/covariance/BUILD
  cpp/daal/src/algorithms/dbscan/BUILD
  cpp/daal/src/algorithms/decision_tree/BUILD
  cpp/daal/src/algorithms/dtrees/forest/BUILD
  cpp/daal/src/algorithms/dtrees/forest/classification/BUILD
  cpp/daal/src/algorithms/dtrees/forest/regression/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/classification/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
  cpp/daal/src/algorithms/k_nearest_neighbors/BUILD
  cpp/daal/src/algorithms/kernel_function/BUILD
  cpp/daal/src/algorithms/kmeans/BUILD
  cpp/daal/src/algorithms/linear_model/BUILD
  cpp/daal/src/algorithms/linear_regression/BUILD
  cpp/daal/src/algorithms/logistic_regression/BUILD
  cpp/daal/src/algorithms/low_order_moments/BUILD
  cpp/daal/src/algorithms/objective_function/cross_entropy_loss/BUILD
  cpp/daal/src/algorithms/objective_function/logistic_loss/BUILD
  cpp/daal/src/algorithms/pca/BUILD
  cpp/daal/src/algorithms/pca/transform/BUILD
  cpp/daal/src/algorithms/svm/BUILD
  cpp/oneapi/dal/backend/primitives/rng/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

clang
  cpp/daal/src/algorithms/kmeans/kmeans_result.h
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

restore thread comm
  cpp/oneapi/dal/test/engine/thread_communicator.cpp
  cpp/oneapi/dal/test/engine/thread_communicator.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Apply comments from review
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add dependencies parameter into CSR compute_data_squares function
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/daal/include/services/env_detect.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

simplify sycl range size computations
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove gpu part
  cpp/daal/src/algorithms/kmeans/kmeans_init_csr_deterministic_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_csr_parallelplus_batch_fpt_cpu.cpp
  cpp/daal/src/algorithms/kmeans/kmeans_init_csr_random_batch_fpt_cpu.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops_dpc.cpp
  examples/oneapi/dpc/source/kmeans_init/kmeans_init_csr.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

remove python double exit code check
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

debug prints
  cpp/daal/include/algorithms/algorithm_base_common.h
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Windows make fix
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/externals/service_dispatch.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

prints
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/detail/compute_ops_dpc.cpp
  cpp/oneapi/dal/detail/error_messages.cpp
  cpp/oneapi/dal/detail/error_messages.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add csr methods
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

wa for gpu loop
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

new gpu kernel
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  WORKSPACE
  cpp/daal/BUILD
  cpp/oneapi/dal/BUILD
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  dev/bazel/deps/dpl.bzl
  dev/bazel/deps/dpl.tpl.BUILD
  dev/make/compiler_definitions/icc.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/algorithms/algorithm_base_common.h
  cpp/daal/include/algorithms/algorithm_container_base.h
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/src/algorithms/low_order_moments/low_order_moments_container.h
  cpp/daal/src/data_management/data_conversion.cpp
  cpp/daal/src/services/execution_context.cpp
  cpp/daal/src/services/library_version_info.cpp
  cpp/daal/src/sycl/select_indexed.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
  cpp/oneapi/dal/detail/parameters/system_parameters_impl.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix memory leak in hashmap (#2811)
  cpp/oneapi/dal/detail/hash_map.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

adding slack link
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

contacting maintainers
  CONTRIBUTING.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

Updating details on bazel tests
  CONTRIBUTING.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

Apply suggestions from code review
  CONTRIBUTING.md
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

Apply suggestions from code review
  CONTRIBUTING.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi
