Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

[CI] Update dpcpp compiler for public CI (#2667)
  .ci/env/apt.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update oneAPI DPC++ compiler and micromkl GPU versions (#2699)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

feature: adding assume_centered flag in Covariance (#2658)
  cpp/daal/include/algorithms/covariance/covariance_types.h
  cpp/daal/src/algorithms/covariance/covariance_dense_batch_impl.i
  cpp/daal/src/algorithms/covariance/covariance_dense_online_impl.i
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/oneapi/dal/algo/covariance/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
  cpp/oneapi/dal/algo/covariance/common.cpp
  cpp/oneapi/dal/algo/covariance/common.hpp
  cpp/oneapi/dal/algo/covariance/test/batch.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
  cpp/oneapi/dal/backend/primitives/stat/test/cov_dpc.cpp
  examples/oneapi/cpp/source/covariance/cov_dense_biased_batch.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_biased_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

[CI] Update dpcpp compiler for public CI (#2667)
  .ci/env/apt.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update oneAPI DPC++ compiler and micromkl GPU versions (#2699)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

first attempt
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

temporary renovate change to trigger docker
  .github/workflows/renovate-validation.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

another temporary
  .github/workflows/docker-validation-nightly.yml
  .github/workflows/renovate-validation.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

revert nightly yml change
  .github/workflows/docker-validation-nightly.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

remove debug conditional
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

maybe a better nightly trigger?
  .github/workflows/docker-validation-nightly.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

CI: fix docker nightly (#2722)
  .ci/scripts/build.sh
  .github/workflows/docker-validation-nightly.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fixes for icpx
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icc.mkl.32e.mk
  dev/make/deps.mk
  dev/make/function_definitions/32e.mk
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  makefile
Owners: @Alexsandruss

add instantiations|
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor
  cpp/daal/src/externals/core_threading_win_dll.cpp
  dev/make/compiler_definitions/icc.mkl.32e.mk
  dev/make/deps.mk
  dev/make/function_definitions/32e.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

std::vector<sycl::event> -> event_vector
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/handle_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Allow test.sh CI script to run locally (#2717)
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Refactor OpenBLAS build script
  .ci/env/openblas.sh
  .ci/scripts/build.sh
  dev/make/deps.ref.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Pass prefix and version as optional parameters
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Use same make options in clean
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Use most recent link to OpenBLAS repo
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Use a default target architecture in OpenBLAS build
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

isnan -> isinf
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove duplication
  cpp/oneapi/dal/backend/primitives/reduction/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add missing INSTANTIATE_FLOAT calls
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_atomic_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_blocking_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_naive_local_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_cw_wrapper_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_blocking_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_narrow_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_wide_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/reduction_rm_rw_wrapper_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Remove unneeded ONEDAL_EXPORT
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Initial implementation of system_parameters class
  cpp/oneapi/dal/algo/covariance/compute_types.hpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters.hpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
  cpp/oneapi/dal/detail/system_parameters_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update mkl fpk GPU and compiler version for 2024.2.0 (#2721)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update mkl fpk GPU and compiler version for 2024.3.0 (#2720)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  cpp/daal/src/data_management/data_collection.cpp
  cpp/daal/src/externals/core_threading_win_dll.cpp
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/algorithm_container_base_batch.h
  cpp/daal/include/algorithms/linear_regression/linear_regression_training_distributed.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixes for DAAL building
  cpp/daal/include/algorithms/engines/engine.h
  cpp/daal/include/algorithms/engines/engine_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
