Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

Add license header
  .ci/env/riscv64-clang-crosscompile-toolchain.cmake
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Bump the priority of the clang alternative
  .ci/env/apt.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix issues with available testing
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

get_data?
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

small docstring updates
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

more documentation
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

oops
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

infinity -> infinity()
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang fix
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

revert debug and cleanup
  cpp/oneapi/dal/backend/primitives/search/test/chebyshev_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/cosine_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/l2_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/lp_search_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove get_data
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

it works?
  cpp/oneapi/dal/backend/primitives/search/test/chebyshev_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/cosine_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/l2_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/lp_search_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

another attempt
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix testing issues
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang format
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

naming update
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

using GENERATE
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

mistake ifnan -> infnan
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add EOL in the end of the files
  cpp/oneapi/dal/detail/system_parameters.hpp
  cpp/oneapi/dal/detail/system_parameters_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

ifnan -> infnan
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add comments to system_parameters class
  cpp/oneapi/dal/detail/system_parameters.hpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Revert "Implement DPC++ sparse gemm and gemv primitives (#2668)"
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/common.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/BUILD
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/gemv_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/handle.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/misc.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/set_csr_data_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/fixture.hpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.cpp
  cpp/oneapi/dal/detail/sparse_matrix_handle_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

[enh] Refactor finiteness_checker (#2669)
  cpp/daal/BUILD
  cpp/daal/include/services/internal/daal_kernel_defines.h
  cpp/daal/src/algorithms/kernel_config.h
  cpp/daal/src/data_management/finiteness_checker.cpp
  cpp/daal/src/data_management/finiteness_checker.h
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
  cpp/daal/src/externals/service_dispatch.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

added alpha parameter support to linear regression descriptor
  cpp/oneapi/dal/algo/linear_regression/common.cpp
  cpp/oneapi/dal/algo/linear_regression/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add infval/maxval to CAPTURE
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

attempts at fixing bazel test failures
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Disable SYCL sparse primitives testing on the architectures that do not have native float64
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemm_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sparse_blas/test/gemv_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

find out which place
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix ternary argument
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Implement the changes requested in code review
  cpp/oneapi/dal/detail/cpu_info.cpp
  cpp/oneapi/dal/detail/cpu_info_impl.cpp
  cpp/oneapi/dal/detail/cpu_info_impl.hpp
  cpp/oneapi/dal/detail/system_parameters.cpp
  cpp/oneapi/dal/detail/system_parameters.hpp
  cpp/oneapi/dal/detail/system_parameters_impl.cpp
  cpp/oneapi/dal/detail/system_parameters_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

is override_init misnamed??
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

feature: Support online distributed for PCA (#2735)
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl.hpp
  cpp/oneapi/dal/algo/pca/backend/gpu/finalize_train_kernel_cov_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/detail/finalize_train_ops_dpc.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online_spmd.cpp
  cpp/oneapi/dal/test/engine/fixtures.hpp
  cpp/oneapi/dal/test/engine/spmd.hpp
  samples/oneapi/dpc/ccl/onedal_lnx.lst
  samples/oneapi/dpc/ccl/sources/pca_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/onedal_lnx.lst
  samples/oneapi/dpc/mpi/sources/pca_online_distr_mpi.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

init build for bazel
  BUILD
  cpp/oneapi/dal/BUILD
  dev/bazel/toolchains/cc_toolchain_config_lnx.bzl
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

return to stride
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

test modification
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

use fill_diag due to striding
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
