Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @emmwalsh, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @razdoburdin, @avolkov-intel, @icfaust, @uxlfoundation/oneDAL-maintain

Correct license
  docs/source/api/data-management/backend-primitives.rst
  docs/source/api/data-management/backend/ndarray.rst
  docs/source/api/data-management/backend/ndview.rst
  docs/source/onedal/data-management/backend-primitives.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @emmwalsh

new fixes for rf
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_model_manager.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_feature_type_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_kernel_hist_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_service_kernels_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/train_splitter_impl_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/test/spmd.cpp
Owners: @Alexsandruss, @samir-nasibli, @Alexandr-Solovev

remove __daal_serv_cpu_extensions_available and add comments
  cpp/daal/src/services/compiler/generic/env_detect_features.cpp
  cpp/daal/src/services/service_defines.h
  cpp/oneapi/dal/detail/cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @Alexandr-Solovev

Update INSTALL.md
  INSTALL.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @emmwalsh

Update INSTALL.md
  INSTALL.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @emmwalsh

Disable LinuxMakeGNU_OpenBLAS_x86 step in CI (#3024)
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Removed comment.
  cpp/daal/include/algorithms/pca/pca_explained_variance_batch.h
Owners: @Alexsandruss, @samir-nasibli, @Alexandr-Solovev

Canged the Input copy assignment to be deafult.
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/pca_input.cpp
Owners: @Alexsandruss, @samir-nasibli, @Alexandr-Solovev

Changed the assignment operator to defaault.
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/pca_result_impl.h
Owners: @Alexsandruss, @samir-nasibli, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @emmwalsh
*.md           @Vika-F @maria-Petrova @Alexsandruss @emmwalsh

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

# Governance and process
/.github/CODEOWNERS @uxlfoundation/oneDAL-maintain
/SECURITY.md @uxlfoundation/oneDAL-maintain
/MAINTAINERS.md @uxlfoundation/oneDAL-maintain
/CONTRIBUTING.md @uxlfoundation/oneDAL-maintain
/CODE_OF_CONDUCT.md @uxlfoundation/oneDAL-maintain
