Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

CI: add tests to primitives:tests runs
  cpp/oneapi/dal/backend/primitives/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Only load conda environment if required
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update oneAPI DPC++ compiler to version 2024.1.0 in public CI
  .ci/env/apt.sh
  dev/make/cmplr.dpcpp.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Trigger Azure test on branch
  dev/make/cmplr.dpcpp.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update oneAPI DPC++ compiler version to 2024.1 and micromkl GPU version to 2024-02-22
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Only load conda environment if required (#2698)
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Minor refactor of the top-level CI build script
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Don't be so clever with setting up conda
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Update path for Mac as well
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

CI: add tests to primitives:tests runs (#2697)
  cpp/oneapi/dal/backend/primitives/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update dtype_dispatcher.hpp
  cpp/oneapi/dal/detail/dtype_dispatcher.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

ENH: dtype dispatcher for Dataframe Intercahnge Protocol in Python (#2696)
  cpp/oneapi/dal/backend/dispatcher.hpp
  cpp/oneapi/dal/detail/dtype_dispatcher.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix a misprint
  docs/source/daal/algorithms/quality_metrics/default/for-multi-class-classification.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

follow-up from merge
  cpp/oneapi/dal/algo/dbscan/test/spmd.cpp
  cpp/oneapi/dal/test/engine/metrics/clustering.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

accidental merge conflict override
  cpp/oneapi/dal/algo/dbscan/test/spmd.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Review comments
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

adding minor comments
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/oneapi/dal/algo/basic_statistics/backend/basic_statistics_interop.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Set default build target
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fixes
  cpp/oneapi/dal/algo/basic_statistics/backend/basic_statistics_interop.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update version to 2024.4.0 (#2671)
  deploy/pkg-config/pkg-config.tpl
  dev/bazel/config/config.bzl
  docs/doxygen/doxygen_conf_cpp.txt
  docs/doxygen/doxygen_conf_cpp_examples.txt
  docs/doxygen/doxygen_conf_cpp_web.txt
  makefile.ver
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @Vika-F, @maria-Petrova, @aepanchi

feature: adding online distributed basic statistics (#2693)
  cpp/oneapi/dal/algo/basic_statistics/backend/basic_statistics_interop.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_impl.hpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/backend/gpu/partial_compute_kernel_dense_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/detail/finalize_compute_ops_dpc.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/batch.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/fixture.hpp
  cpp/oneapi/dal/algo/basic_statistics/test/online.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/online_spmd.cpp
  cpp/oneapi/dal/algo/basic_statistics/test/spmd.cpp
  samples/oneapi/dpc/ccl/onedal_lnx.lst
  samples/oneapi/dpc/ccl/sources/basic_statistics_online_distr_ccl.cpp
  samples/oneapi/dpc/mpi/onedal_lnx.lst
  samples/oneapi/dpc/mpi/sources/basic_statistics_online_distr_mpi.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

FIX: sycl barrier() deprecation alternative
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_heap_dpc.cpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_single_col.hpp
  cpp/oneapi/dal/backend/primitives/selection/row_partitioning_kernel.hpp
  cpp/oneapi/dal/backend/primitives/sort/sort_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor spacing
  cpp/oneapi/dal/backend/primitives/selection/kselect_by_rows_simd.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix Arm build
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

comments fixes
  cpp/daal/src/algorithms/covariance/covariance_dense_batch_impl.i
  cpp/daal/src/algorithms/covariance/covariance_dense_online_impl.i
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/gpu/finalize_compute_kernel_dense_impl_dpc.cpp
  examples/oneapi/data/covcormoments_dense.csv
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

Fix Arm build
  cpp/oneapi/dal/algo/decision_forest/parameters/cpu/infer_parameters.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor optimizations
  cpp/oneapi/dal/algo/covariance/backend/gpu/compute_kernel_dense_impl_dpc.cpp
  cpp/oneapi/dal/algo/pca/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Minor refactor of the top-level CI build script (#2700)
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

FIX: kmeans_init bazel test enabling
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

OpenBLAS use make options in install
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Don't explicitly set the compiler
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Make use of shellcheck in changed file
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Trigger CI
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
Owners: @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

disable test_select_indexed_rows
  cpp/oneapi/dal/backend/primitives/selection/test/select_indexed_rows_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

OpenBLAS use make options in install (#2709)
  .ci/env/openblas.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor naming fix
  cpp/daal/include/algorithms/covariance/covariance_types.h
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/oneapi/dal/algo/covariance/backend/cpu/compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/finalize_compute_kernel_dense.cpp
  cpp/oneapi/dal/algo/covariance/backend/cpu/partial_compute_kernel_dense.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Change MKL GPU FPK version to 2024-02-20
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

adding tests for assume centering flag
  cpp/oneapi/dal/algo/covariance/test/batch.cpp
  cpp/oneapi/dal/algo/covariance/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

arm ci examples
  .ci/env/apt.sh
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
