Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

fix ci fail
  cpp/oneapi/dal/backend/primitives/stat/test/cov_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

init commit
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Add hyperparameters into decision forest classification inference algorithm (#2692)
  cpp/daal/include/services/error_indexes.h
  cpp/daal/src/algorithms/classifier/BUILD
  cpp/daal/src/algorithms/dtrees/forest/classification/BUILD
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch.h
  cpp/daal/src/algorithms/dtrees/forest/classification/df_classification_predict_dense_default_batch_impl.i
  cpp/daal/src/algorithms/dtrees/forest/df_hyperparameter.cpp
  cpp/daal/src/algorithms/dtrees/forest/df_hyperparameter_impl.h
  cpp/daal/src/algorithms/dtrees/forest/regression/BUILD
  cpp/daal/src/algorithms/dtrees/gbt/regression/BUILD
  cpp/daal/src/services/error_handling.cpp
  cpp/oneapi/dal/algo/BUILD
  cpp/oneapi/dal/algo/decision_forest/BUILD
  cpp/oneapi/dal/algo/decision_forest/backend/BUILD
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/BUILD
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/infer_kernel.hpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/infer_kernel_cls.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/cpu/infer_kernel_reg.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/BUILD
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_cls_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/backend/gpu/infer_kernel_reg_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/detail/BUILD
  cpp/oneapi/dal/algo/decision_forest/detail/infer_ops.cpp
  cpp/oneapi/dal/algo/decision_forest/detail/infer_ops.hpp
  cpp/oneapi/dal/algo/decision_forest/detail/infer_ops_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.cpp
  cpp/oneapi/dal/algo/decision_forest/infer_types.hpp
  cpp/oneapi/dal/algo/decision_forest/parameters/BUILD
  cpp/oneapi/dal/algo/decision_forest/parameters/cpu/BUILD
  cpp/oneapi/dal/algo/decision_forest/parameters/cpu/infer_parameters.cpp
  cpp/oneapi/dal/algo/decision_forest/parameters/cpu/infer_parameters.hpp
  cpp/oneapi/dal/algo/decision_forest/parameters/gpu/BUILD
  cpp/oneapi/dal/algo/decision_forest/parameters/gpu/infer_parameters.hpp
  cpp/oneapi/dal/algo/decision_forest/parameters/gpu/infer_parameters_dpc.cpp
  cpp/oneapi/dal/algo/decision_forest/test/infer_parameters.cpp
  cpp/oneapi/dal/backend/interop/error_converter.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @razdoburdin, @ahuber21, @avolkov-intel, @icfaust

minor fix
  cpp/daal/include/services/daal_defines.h
  cpp/daal/src/services/service_defines.h
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/services/daal_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

drop c++11
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fixes
  cpp/daal/include/services/daal_defines.h
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/services/daal_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

drop c++11
  cpp/daal/include/services/daal_defines.h
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes with extern
  cpp/daal/include/services/daal_defines.h
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

remove DAAL_IMPLEMENTATION
  cpp/daal/include/services/daal_defines.h
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

disable test_select_indexed_rows (#2713)
  cpp/oneapi/dal/backend/primitives/selection/test/select_indexed_rows_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/services/daal_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

FIX: kmeans_init bazel test enabling (#2708)
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans_init/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix clang-format
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Add signflip to online
  cpp/daal/src/algorithms/pca/pca_dense_correlation_online_kernel.h
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update tests
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Address comments
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Remove CAPTUREs
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix test tag
  cpp/oneapi/dal/algo/pca/test/online.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

removed examples for arm
  .ci/env/apt.sh
  .ci/scripts/test.sh
  examples/daal/cpp/CMakeLists.txt
  examples/oneapi/cpp/CMakeLists.txt
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Allow test.sh CI script to run locally
  .ci/pipeline/ci.yml
  .ci/scripts/test.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Exit on help text
  .ci/scripts/test.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

aligning win and lnx
  cpp/daal/include/services/daal_defines.h
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

[bug] Add signflip to CPU online PCA (#2705)
  cpp/daal/src/algorithms/pca/pca_dense_correlation_online_kernel.h
  cpp/oneapi/dal/algo/pca/backend/cpu/finalize_train_kernel_cov.cpp
  cpp/oneapi/dal/algo/pca/test/fixture.hpp
  cpp/oneapi/dal/algo/pca/test/online.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Follow type rules
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

drop icc
  .ci/scripts/describe_system.sh
  dev/bazel/flags.bzl
  dev/bazel/toolchains/cc_toolchain_lnx.bzl
  dev/bazel/toolchains/common.bzl
  dev/make/common.mk
  dev/make/compiler_definitions/dpcpp.mk
  dev/make/compiler_definitions/icc.mkl.32e.mk
  dev/make/compiler_definitions/icx.mkl.32e.mk
  dev/make/deps.mk
  dev/make/function_definitions/32e.mk
  samples/daal/cpp/mysql/makefile_lnx
  samples/daal/cpp/mysql/makefile_mac
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add isinfornan, logical_or and isinf to testing
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update oneAPI DPC++ compiler and micromkl GPU versions (#2699)
  .ci/env/apt.sh
  WORKSPACE
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Align tools version with main branch
  .ci/env/apt.sh
  dev/download_micromkl.bat
  dev/download_micromkl.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

comments fix
  cpp/oneapi/dal/algo/covariance/backend/gpu/misc.hpp
  cpp/oneapi/dal/backend/primitives/stat/cov_dpc.cpp
  examples/oneapi/dpc/source/covariance/cov_dense_biased_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @maria-Petrova

minor fix
  examples/oneapi/cpp/source/covariance/cov_dense_biased_batch.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

drop c++11
  makefile
Owners: @Alexsandruss

update tokens
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update functors.hpp
  cpp/oneapi/dal/backend/primitives/reduction/functors.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/externals/core_threading_win_dll.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/src/services/service_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
