Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust

forgotten comments
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

templating
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Revert "templating"
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

remove initial duplication via templating sums
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

will come back to this point later
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix: Distributed Pca singular values computation fix (#2727)
  cpp/oneapi/dal/algo/pca/backend/gpu/train_kernel_cov_impl_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix for makefile
  dev/make/compiler_definitions/icx.mkl.32e.mk
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

add new exports
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-formatting and forgotten file
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add copyrights
  cpp/daal/src/data_management/finiteness_checker.h
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

end space
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

makefile fix
  makefile
Owners: @Alexsandruss

FIX: distributed knn double sqrt bug
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

changes to match review
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
  cpp/daal/src/data_management/finiteness_checker_avx512_impl.i
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

last reviewer changes
  cpp/daal/src/data_management/finiteness_checker.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

another try at fixing bazel build issues
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update BUILD
  cpp/daal/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

formatting
  cpp/daal/src/data_management/finiteness_checker_cpu.cpp
  cpp/daal/src/data_management/finiteness_checker_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for unresolved symbols
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Update data-analytics-pipeline.rst
  docs/source/data-analytics-pipeline.rst
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

minor fixes
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_batch.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Return incorrectly deleted include back
  cpp/oneapi/dal/detail/cpu.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixed warning on dll exports
  cpp/oneapi/dal/io/csv/detail/read_ops.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

broken tests
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix naming issues
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_1d_dpc.cpp
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

code factor doesn't like me
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_random_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

float -> float_t
  cpp/oneapi/dal/backend/primitives/reduction/test/reduction_rm_uniform_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

added doxygen notation descriptions for data_source class and methods
  cpp/oneapi/dal/io/csv/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixed deleted template declaration in prev commit
  cpp/oneapi/dal/io/csv/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

added default floa type for table data type
  cpp/oneapi/dal/io/csv/common.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Cache base on VM image as well
  .ci/pipeline/ci.yml
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fix
  cpp/daal/include/algorithms/algorithm_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for win
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fixed
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc.hpp
  cpp/oneapi/dal/algo/knn/backend/gpu/infer_kernel_impl_dpc_distr.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Cache BLAS and TBB builds in CI (#2728)
  .ci/env/tbb.sh
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

forgotten AVX naming leading to infinte loop
  cpp/daal/src/data_management/finiteness_checker_avx2_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev
