Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

How to contact maintainers + some clarifications (#2822)
  CONTRIBUTING.md
  README.md
Owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi

fixes
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/service_thread_pinner.h
  cpp/daal/src/threading/threading.cpp
  cpp/oneapi/dal/backend/interop/common_dpc.cpp
  cpp/oneapi/dal/detail/global_context.cpp
  cpp/oneapi/dal/detail/global_context_impl.cpp
  examples/oneapi/cpp/source/jaccard/jaccard_batch_app.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Attempt to align empty clusters handling for sparse and dense SYCL input
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Adjust modulefile according to the latest requirements
  deploy/local/dal
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix: replace CL/sycl.hpp includes
  samples/oneapi/dpc/ccl/sources/knn_bf_distr_ccl.cpp
  samples/oneapi/dpc/mpi/sources/knn_bf_distr_mpi.cpp
Owners: @maria-Petrova, @Alexsandruss, @Alexandr-Solovev

fix: EXPAND macro replacement
  cpp/oneapi/dal/backend/micromkl/macro.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix "loop not vectorized" warning when running with newer icpx compiler (#2818)
  cpp/oneapi/dal/table/backend/csr_kernels.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix dynamic link
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

address reviews
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/oneapi/dal/algo/kmeans/backend/cpu/infer_kernel.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/backend/gpu/compute_kernel_sparse_dpc.cpp
  cpp/oneapi/dal/algo/kmeans_init/common.hpp
  cpp/oneapi/dal/detail/error_messages.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

delete global control destr
  cpp/daal/src/services/env_detect.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

MAINT: updated github PR templates
  .github/pull_request_template.md
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

fix
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

restore tbb layer
  cpp/daal/BUILD
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/algorithms/linear_model/linear_model_train_normeq_merge_impl.i
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

address bazel failure
  cpp/oneapi/dal/algo/kmeans/infer_types.cpp
  cpp/oneapi/dal/algo/kmeans/test/badarg.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

update comments
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix(samples): correct multiline command handling in `setup_samples.cmake`
  samples/cmake/setup_samples.cmake
Owners: @Alexsandruss

Update cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add mkl sparse
  cpp/daal/src/algorithms/covariance/covariance_impl.i
  cpp/daal/src/algorithms/kmeans/kmeans_lloyd_impl.i
  cpp/daal/src/algorithms/kmeans/kmeans_lloyd_postprocessing.h
  cpp/daal/src/algorithms/kmeans/kmeans_plusplus_init_impl.i
  cpp/daal/src/algorithms/naivebayes/naivebayes_predict_fast_impl.i
  cpp/daal/src/externals/service_spblas.h
  cpp/daal/src/externals/service_spblas_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

sparse formats fix
  cpp/daal/src/externals/service_spblas_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Adding TBB scheduler handle (#2829)
  cpp/daal/include/services/env_detect.h
  cpp/daal/src/externals/core_threading_win_dll.cpp
  cpp/daal/src/services/env_detect.cpp
  cpp/daal/src/threading/service_thread_pinner.cpp
  cpp/daal/src/threading/threading.cpp
  cpp/daal/src/threading/threading.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

reduce the library size
  cpp/daal/src/externals/service_stat_ref.h
  dev/make/deps.mkl.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

onedal_sycl reminder
  makefile
Owners: @Alexsandruss

initial adding mkl rng + minor refactoring makefile for mklgpu
  cpp/oneapi/dal/backend/primitives/selection/test/select_flagged_dpc.cpp
  cpp/oneapi/dal/backend/primitives/sort/test/sort_dpc.cpp
  dev/bazel/deps/mkl.tpl.BUILD
  dev/make/deps.mkl.mk
  makefile
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev, @napetrov, @homksei, @ahuber21, @ethanglaser

fixes
  cpp/daal/src/externals/service_stat_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Simplify CSR update_centroids implementation
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Remove incorrectly used communicator from sparse GPU Kmeans
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Added 2c_mom reference implementation
  cpp/daal/src/externals/service_stat_ref.h
  examples/daal/cpp/CMakeLists.txt
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/src/externals/service_blas_mkl.h
  cpp/daal/src/externals/service_lapack_mkl.h
  cpp/daal/src/externals/service_spblas_mkl.h
  cpp/daal/src/externals/service_stat_mkl.h
  cpp/daal/src/externals/service_stat_ref.h
  cpp/daal/src/externals/service_thread_declar_mkl.cpp
  cpp/daal/src/externals/service_thread_declar_mkl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Fix failure in K-means double tests
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

revert unneeded change
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_dense_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Refactoring
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

clang-format
  cpp/oneapi/dal/algo/kmeans/backend/gpu/empty_cluster_handling_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/infer_kernel_dpc.cpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_fp_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add comments
  cpp/oneapi/dal/algo/kmeans/backend/gpu/kernels_csr_impl.hpp
  cpp/oneapi/dal/algo/kmeans/backend/gpu/train_kernel_lloyd_csr_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
