Repository oneapi-src/oneDAL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Vika-F, @maria-Petrova, @Alexsandruss, @aepanchi, @Alexandr-Solovev, @samir-nasibli, @napetrov, @homksei, @ahuber21, @ethanglaser, @KulikovNikita, @razdoburdin, @avolkov-intel, @icfaust

fixes for DAAL building cov
  cpp/daal/include/algorithms/covariance/covariance_distributed.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/implicit_als/implicit_als_training_distributed.h
  cpp/daal/include/algorithms/kmeans/kmeans_distributed.h
  cpp/daal/include/algorithms/kmeans/kmeans_init_distributed.h
  cpp/daal/include/algorithms/moments/low_order_moments_distributed.h
  cpp/daal/include/algorithms/naive_bayes/multinomial_naive_bayes_training_distributed.h
  cpp/daal/include/algorithms/qr/qr_distributed.h
  cpp/daal/include/algorithms/ridge_regression/ridge_regression_training_distributed.h
  cpp/daal/include/algorithms/svd/svd_distributed.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/src/algorithms/distributions/bernoulli/bernoulli_types_fpt.cpp
  cpp/daal/src/algorithms/distributions/normal/normal_types_fpt.cpp
  cpp/daal/src/algorithms/distributions/uniform/uniform_types_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for LOM
  cpp/daal/src/algorithms/normalization/minmax/minmax_parameter_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for PCA
  cpp/daal/src/algorithms/distributions/normal/normal_types_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_baseparameter_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for typename
  cpp/daal/include/algorithms/dbscan/dbscan_distributed.h
  cpp/daal/include/algorithms/implicit_als/implicit_als_training_init_distributed.h
  cpp/daal/include/algorithms/normalization/zscore_types.h
  cpp/daal/src/algorithms/distributions/normal/normal_types_fpt.cpp
  cpp/daal/src/services/service_defines.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for typename
  cpp/daal/src/algorithms/pca/pca_batchparameter_correlation_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes for typename
  cpp/daal/src/algorithms/normalization/zscore/zscore_parameter_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

more fixes
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/elastic_net/elastic_net_training_result_fpt.cpp
  cpp/daal/src/algorithms/implicit_als/implicit_als_predict_ratings_result_fpt.cpp
  cpp/daal/src/algorithms/lasso_regression/lasso_regression_training_result_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_batch_fpt.cpp
  cpp/daal/src/algorithms/linear_regression/linear_regression_training_result.h
  cpp/daal/src/algorithms/normalization/minmax/minmax_fpt.cpp
  cpp/daal/src/algorithms/normalization/zscore/zscore_fpt.cpp
  cpp/daal/src/algorithms/pca/transform/pca_transform_batch_fpt.cpp
  cpp/daal/src/algorithms/qr/qr_dense_default_batch.h
  cpp/daal/src/algorithms/ridge_regression/ridge_regression_training_result.h
  cpp/daal/src/algorithms/svd/svd_dense_default_batch.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

more fixes
  cpp/daal/src/algorithms/pca/pca_batchparameter_svd_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

rm error flag
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Refactor OpenBLAS build script (#2711)
  .ci/env/openblas.sh
  .ci/scripts/build.sh
  dev/make/deps.ref.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

rm error flag
  cpp/daal/src/algorithms/low_order_moments/moments_batch.h
  cpp/daal/src/algorithms/pca/pca_result_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/pca/pca_distributed.h
  cpp/daal/include/algorithms/pca/pca_online.h
  cpp/daal/src/algorithms/pca/pca_distributedparameter_correlation.h
  cpp/daal/src/algorithms/pca/pca_onlineparameter_correlation.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/src/algorithms/pca/pca_partialresult_svd_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

TEST: bazel test of gpu primitives in CI scope
  cpp/oneapi/dal/backend/primitives/BUILD
  cpp/oneapi/dal/backend/primitives/distance/test/cosine_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/test/squared_l2_distance_dpc.cpp
  cpp/oneapi/dal/backend/primitives/distance/test/squared_l2_distance_misc_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/cosine_search_dpc.cpp
  cpp/oneapi/dal/backend/primitives/search/test/l2_search_dpc.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for pca
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/elastic_net/elastic_net_training_result_fpt.cpp
  cpp/daal/src/algorithms/implicit_als/implicit_als_predict_ratings_result_fpt.cpp
  cpp/daal/src/algorithms/lasso_regression/lasso_regression_training_result_fpt.cpp
  cpp/daal/src/algorithms/linear_model/linear_model_predict_batch_fpt.cpp
  cpp/daal/src/algorithms/low_order_moments/moments_batch.h
  cpp/daal/src/algorithms/normalization/zscore/zscore_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_batchparameter_svd_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_onlineparameter_svd.h
  cpp/daal/src/algorithms/pca/pca_onlineparameter_svd_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_partialresult_correlation.h
  cpp/daal/src/algorithms/pca/pca_partialresult_correlation_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_partialresult_svd.h
  cpp/daal/src/algorithms/pca/pca_partialresult_svd_fpt.cpp
  cpp/daal/src/algorithms/pca/pca_result_fpt.cpp
  cpp/daal/src/algorithms/pca/transform/pca_transform_batch_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix flags
  dev/make/compiler_definitions/icx.mkl.32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

restoring icc
  .ci/scripts/describe_system.sh
  cpp/daal/src/externals/core_threading_win_dll.cpp
  dev/bazel/flags.bzl
  dev/bazel/toolchains/cc_toolchain_lnx.bzl
  dev/bazel/toolchains/common.bzl
  dev/make/compiler_definitions/icc.mkl.32e.mk
  dev/make/deps.mk
  dev/make/function_definitions/32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for eternals
  cpp/daal/src/externals/service_stat_mkl.h
  cpp/daal/src/externals/service_stat_ref.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

maybe unused adding
  cpp/daal/src/externals/service_stat_mkl.h
  cpp/daal/src/externals/service_stat_ref.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix unused variable
  cpp/daal/src/algorithms/k_nearest_neighbors/oneapi/bf_knn_classification_model_ucapi_impl.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

back to icx in dpcpp
  dev/make/compiler_definitions/dpcpp.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

minor fixes
  dev/make/common.mk
  dev/make/function_definitions/32e.mk
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

add ehsc flag
  makefile
Owners: @Alexsandruss

minor fix for pca
  cpp/daal/include/algorithms/pca/pca_batch.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

zscore fix
  cpp/daal/include/algorithms/normalization/zscore.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/normalization/zscore.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for pca normalization
  cpp/daal/src/algorithms/normalization/minmax/minmax_parameter.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

add daal_exports
  cpp/daal/include/algorithms/normalization/zscore.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/src/algorithms/normalization/minmax/minmax_parameter.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Run shellcheck
  .ci/scripts/test.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Refactor oneTBB CI build script
  .ci/env/tbb.sh
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Set the compilers early in CI build script
  .ci/scripts/build.sh
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser

Run Arm GNU cross-compiled tests in CI
  .ci/env/apt.sh
  .ci/env/arm-gnu-crosscompile-toolchain.cmake
  .ci/pipeline/ci.yml
  .ci/scripts/build.sh
  .ci/scripts/test.sh
  cmake/templates/oneDALConfig.cmake.in
  examples/cmake/setup_examples.cmake
  examples/daal/cpp/CMakeLists.txt
  examples/daal/cpp/target_excludes.cmake
  examples/oneapi/cpp/CMakeLists.txt
  examples/oneapi/cpp/target_excludes.cmake
  makefile
Owners: @Alexsandruss, @napetrov, @homksei, @ahuber21, @ethanglaser, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix daal export
  cpp/daal/include/algorithms/pca/pca_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fix
  cpp/daal/include/algorithms/pca/pca_explained_variance_types.h
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_types.h
  cpp/daal/include/algorithms/pca/pca_types.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_types.h
  cpp/daal/include/algorithms/svd/svd_types.h
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

Added sparse_blas into the list of CI tests
  cpp/oneapi/dal/backend/primitives/BUILD
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

minor fixes
  cpp/daal/include/algorithms/pca/pca_explained_variance_batch.h
  cpp/daal/include/algorithms/pca/pca_quality_metric_set_batch.h
  cpp/daal/include/algorithms/pca/transform/pca_transform_batch.h
  cpp/daal/include/algorithms/svd/svd_types.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric.h
  cpp/daal/src/algorithms/pca/metrics/pca_quality_metric_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

fix for SVD
  cpp/daal/src/algorithms/svd/svd_dense_default_batch_fpt.cpp
  cpp/daal/src/algorithms/svd/svd_dense_default_distr_step2.h
  cpp/daal/src/algorithms/svd/svd_dense_default_distr_step2_fpt.cpp
  cpp/daal/src/algorithms/svd/svd_dense_default_distr_step3.h
  cpp/daal/src/algorithms/svd/svd_dense_default_distr_step3_fpt.cpp
  cpp/daal/src/algorithms/svd/svd_dense_default_online.h
  cpp/daal/src/algorithms/svd/svd_dense_default_online_fpt.cpp
Owners: @Alexsandruss, @samir-nasibli, @KulikovNikita, @Alexandr-Solovev

.github/CODEOWNERS:

# Documentation owners and reviewers
/docs/         @Vika-F @maria-Petrova @Alexsandruss @aepanchi
*.md           @Vika-F @maria-Petrova @Alexsandruss @aepanchi

# TTP files
third-party*   @maria-Petrova

# Samples & examples
samples/       @maria-Petrova @Alexsandruss @Alexandr-Solovev
examples/      @maria-Petrova @Alexsandruss @samir-nasibli

# Infrastructure and tools
.ci/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.github/       @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
.bazelversion  @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser
WORKSPACE      @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser

# Build & dev infrastructure
make*          @Alexsandruss
cmake/         @Alexsandruss
deploy/        @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 
dev/           @Alexsandruss @napetrov @homksei @ahuber21 @ethanglaser 

# C++ code
cpp/           @Alexsandruss @samir-nasibli @KulikovNikita @Alexandr-Solovev

# Tree based methods
dtrees         @razdoburdin @ahuber21 @avolkov-intel @icfaust
